{% extends 'layout.html' %}

{% block title %}
<h2 style="font-family: 'Arial', sans-serif; color: #333; text-align: center; margin-top: 40px; text-shadow: 2px 2px 4px rgba(0,0,0,0.1);">About Us</h2>
{% endblock %}

{% block body %}

<div style="padding: 20px; font-family: 'Arial', sans-serif; line-height: 1.6; background: linear-gradient(135deg, #f3f4f6 0%, #ffffff 100%);">
    <p style="font-size: 18px; color: #444; text-indent: 50px;">
        Solent Financial Technology, affectionately known as SOLFINTECH. is a leading financial multinational
        organisation that deals with stocks and shares, savings and investments. Our online investment platform,
        trusted by over 50 million subscribers, manages assets exceeding 150 billion pounds. We uphold our
        reputation for security and precision, trading on renowned stock exchange platforms such as the FTSE 100
        and equities.
        Recognizing the evolution of financial tech and the increasing competition, SOLFINTECH is taking a
        progressive leap forward. We are excited to introduce our Intelligent Stock Trader (IST) platform.
        This state-of-the-art system will redefine intelligent trading.
    </p>

    <h4 style="font-size: 20px; color: #007BFF; margin-top: 30px; text-shadow: 1px 1px 3px rgba(0,0,0,0.1);">BRIEF DESCRIPTION</h4>

    <p style="font-size: 18px; color: #666; text-indent: 50px;">
        This platform is the brainchild of Ahamed Careem, whose vision and dedication have been instrumental in
        bringing SOLFINTECH to its esteemed position in the financial tech industry.
    </p>

</div>
{% endblock %}
